<!-- view for listing all URLs in dic -->
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <ol>
    <h1>URL List</h1>
    <% include partials/__header %>
    <% for (prop in urls) { %>
      <% if (user.id ===  urls[prop].user_id) { %>
        <li> <%= urls[prop].longURL %> - <%= prop %>
          <a href="urls/<%= prop %>">edit</a>
            <form action='/urls/<%= prop %>/delete' method='post'>
              <button>Delete</button>
            </form>
        </li>
      <% }; %>
    <% }; %>
  </ol>
    <a href="./urls/new">New shorten URL</a>
</body>
</html>
