<!-- view for listing all URLs in dic -->
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <ol>
    <% include partials/__header %>
    <form action='/urls/<%= prop %>/delete' method='post'>
      <% for (prop in urls) { %>
        <li> <%= urls[prop] %> - <%= prop %>
          <a href="urls/<%= prop %>">edit</a>
            <button>Delete</button>
        </li>
      <% }; %>
    </form>
  </ol>
  <a href="urls/new">New shorten URL</a>
</body>
</html>
