<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/__header %>
</head>
<body>
    <% for (prop in urls) { %>
      <li> <%= urls[prop] %> - <%= prop %>  </li>
    <% }; %>
    <a href="http://test.com">Shorten URL</a>
</body>
</html>
